<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenid@</title>
    <link rel="stylesheet" href="estilo_main.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenid@ a la api de Diego Garcia</h1>
        </header>
        <main>
            <p>Gracias por visitarnos. Aqui encontraras informacion interesante.</p>
            
            <div>
                <p><a href="/muestra_pjs" class="button">mostrar todos los personajes</a></br></p>
                <form action="generar_enlace" method="get">
                    <input type="text" id="textoInput" name="textoInput" placeholder="Escribe el nombre">
                    <button class="button" type="submit">buscar personaje</button>
                </form>       
            </div>
            
           
        </main>
        <footer>
            <p>&copy; 2024 @DiegoGar. Todos los derechos reservados.</p>
        </footer>
    </div>

</body>
</html>